@import "./src/styles/utils";

.page-template{
    .content-head {
        display: inline-flex;
        width: 100%;
        .title-filter{
            width: 70%;
            display: inline-flex;
            cursor: pointer;
            user-select: none;
            .title-style {
                margin: 1rem;
                color: black;
            }
        }
        .date-filter {
            width: 30%;
            margin: 1rem;
            display: inline-flex;
            .date-set {
                color: $oc-red-4;
                margin-left: 1rem;
            }
        }
    }
}